/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/**
 * END --- SETUP TAILWINDCSS EDIT
 */


@layer components {
  .btn {
    @apply w-max bg-[#EBEBFF] hover:bg-indigo-300 text-[#5021e9] py-2 px-4 rounded-md focus:outline-none focus:shadow-inner text-sm;
  }

  .btn__filled {
    @apply bg-[#5021E9] text-white;
  }

  .btn__outline {
    @apply bg-transparent border border-solid border-[#5021E9];
  }

  .view-more {
    @apply relative min-[1120px]:absolute min-[1120px]:left-full min-[1120px]:top-0 min-[1120px]:ml-8 bg-[#EBEBFD] w-full min-[1120px]:w-[280px] xl:w-[360px] min-[1360px]:w-[400px] rounded-b-lg min-[1120px]:rounded-lg py-5 px-4;

    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);

    /* max width 1120px  no box shadow */
    @media (max-width: 1120px) {
      box-shadow: none;
    }
  }

  .investment-status-info {
    @apply text-sm;
  }

  .investment-status-info h6 {
    @apply text-[#17152F] font-medium ;
  }

  .investment-status-info p {
    @apply text-[#7B7B8C] ;
  }

  .investment-status-info a {
    @apply text-[#5021E9] underline;
  }
}
